*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar{
    background: #131313
    height:80px;
    display: flex;
    align-items:center;

}

.navbar_container{
    display:flex;
    justify-content:space-between;
    height:80px;
    width:100%;
    max width:1300px;
    margin: 0 auto;
    padding: 0 50px;

}

#navbar__logo{
    background-color: #ff8177;
}
